body {
  font-family: sans-serif;
  background: #f9f9f9;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-self: center;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

ul.history-list {
  list-style: none;
  padding: 0;
}

li {
  padding: .3em;
}

button {
  border: 0px;
  border-radius: 10px;
  padding: 1em;
  margin: .2em;
  cursor: pointer;
}